@model DbManagement.Models.User

@{
    ViewData["Title"] = "Login";
}


<div class="card mb-2">
    <div class="row  g-0">
        <div class="col-md-4">
            <div class="card-body" id="login-body">
                <h1>Login</h1>
                <form asp-action="Login" class="login-frm">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Username" class="control-label"></label>
                        <input asp-for="Username" required class="form-control" style="border-color:#8C52FF" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input type="password" asp-for="Password" required class="form-control" style="border-color:#8C52FF" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input id="login-btn" type="submit" value="Login" class="submit-btns" />
                        <span class="text-danger"></span>
                    </div>
                </form>
            </div>
        </div>

        <div class=" col-md-8" id="large-screen-img">
            <img src="~/images/login.png" class="login-img img-fluid rounded-start" alt="...">
        </div>
    </div>
</div>




@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
