@model IEnumerable<DbManagement.Models.Module>

@{
    ViewData["Title"] = "Index";
}

<!doctype html>
<html lang="ar">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.104.2">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/album-rtl/">
    <link href="css/bootstrap.rtl.min.css" rel="stylesheet">
</head>
<body>
    <main>

        <div class="album py-5" style="padding-top:1.5rem">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <div class="card">
                            <img id="home-img" class="bd-placeholder-img card-img-top" width="100%" height="225" src="~/images/read.png" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <a id="home-btns" asp-controller="Modules" asp-action="Create">
                                <input type="submit" value="Add Modules" class="submit-btns home-btn" />
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card ">
                            <img id="home-img" class="bd-placeholder-img card-img-top" width="100%" height="225" src="~/images/scrum.png" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <a id="home-btns" asp-controller="Modules" asp-action="Create">
                                <input type="submit" value="View Modules" class="submit-btns home-btn" />
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card ">
                            <img id="home-img" class="bd-placeholder-img card-img-top" width="100%" height="225" src="~/images/online.png" preserveAspectRatio="xMidYMid slice" focusable="false">
                                <a id="home-btns" asp-controller="Modules" asp-action="Create">
                                <input type="submit" value="Delete Modules" class="submit-btns home-btn" />
                                </a>
                        </div>
                    </div>
                    
                    <div class="col">
                        <div class="card ">
                            <img id="home-img" class="bd-placeholder-img card-img-top" width="100%" height="225" src="~/images/read_couch.png" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <a id="home-btns" asp-controller="Modules" asp-action="Create">
                                <input type="submit" value="Log Study Session" class="submit-btns home-btn" />
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card ">
                            <img id="home-img" class="bd-placeholder-img card-img-top" width="100%" height="225" src="~/images/book_ladder.png" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <a id="home-btns" asp-controller="Modules" asp-action="Create">
                                <input type="submit" value="Study Sessions Required" class="submit-btns home-btn" />
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card ">
                            <img id="home-img" class="bd-placeholder-img card-img-top" width="100%" height="225" src="~/images/brainstorm.png" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <a id="home-btns" asp-controller="Modules" asp-action="Create">
                                <input type="submit" value="Study Sessions" class="submit-btns home-btn" />
                            </a>
                        </div>
                    </div>
                    
                    
                    
                </div>
            </div>
        </div>

    </main>

    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>

