@model DbManagement.Models.Module
@{
    ViewData["Title"] = "NoModules";
}

<div style="margin-top:25px;">
    <h1>No Modules Added</h1>

    <input id="toHomeMods" type="submit" value="Back To Home" class="submit-btns" style="margin-top:15px; width:15%" />
</div>

