@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu:wght@500&display=swap');

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

label{
    font-size:1.1rem;
    margin-bottom:10px;
}

input {
    border-color: #8C52FF;
    margin-bottom: 10px;
}

/*Nav*/

.nav-link:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #8C52FF;
}

/*Header*/

.brand {   
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
}


/*Buttons*/
.submit-btns {
    background-color: #8C52FF;
    border: none;
    color: white;
    border-radius: 29px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    height: 2.3rem;
    margin-top: 10px;
    width: 7rem;
}

.submit-btns:hover {
    background-color: #7042cc;
}

/*Landing page*/

.card {
    border:none!important;
    height:auto;
}

.card-body{
    padding-top:5rem;
}

.landing-heading {
    font-size: 4rem;
}

.landing-img {
    max-width: 700px;
    height:580px;
}

/*Login page*/

#login-body{
    padding-left:3rem;
}

.login-btn {
    background-color: white;
    border-color: #8C52FF;
    border: 2px solid;
    color: #8C52FF;
}

    .login-btn:hover {
        border:none;
        color:white;
    }

.login-frm {
    margin-top: 2rem;
    margin-right:2rem;
}

.login-img{
    margin-left:9rem;
    width:70%
}

@media (max-width: 768px) {
    .login-img {
        display: none;
    }
}

/*Home page*/

#home-img.card-img-top {
    align-self: center;
    width: 80%;
}

#home-btns {
    margin-top:2rem;
    text-align:center;
}

.home-btn {
   align-self:center;
   width:60%;
}


/*Delete links */

.delete-links {
    color: #8C52FF;
}

.delete-links:hover{
    color:#7042cc;
}

/*Sort links*/

.sort-links {
    color: #8C52FF;
    font-weight:bold;
    text-decoration:none!important;
}

.sort-links:hover {
    color: #7042cc;
}