@{
    ViewData["Title"] = "Home Page";
}

<div class="landing">
    <div class="landing_text">
    <h1 class="landing-heading">We Help You</h1>
    <h1 class="landing-heading"><span style="color:#8C52FF">Achieve</span> Your</h1>
    <h1 class="landing-heading">Goals</h1>
    </div>
   
    <div class="landing_img">
        <img src="images/landing.png" class="landing-image" />
    </div>
    
</div>
